@using BrregFrontend.DTOs
<h5>People</h5>
<MudTable Items="@list" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Phone</MudTh>
        <MudTh>Position</MudTh>
    </HeaderContent>
    <RowTemplate>
            <MudTd DataLabel="Name">@context.Navn</MudTd>
            <MudTd DataLabel="Email">@(context.Epost ?? "test@gmail.com")</MudTd>
            <MudTd DataLabel="Phone">@(context.Telefon ?? "+4712345678")</MudTd>
            <MudTd DataLabel="Position">@(context.Rolle ?? "Unknown")</MudTd>
        </RowTemplate>
    </MudTable>

    @code {
    [Parameter]
    public List<PersonObject> list { get; set; } = new List<PersonObject>();
}
